hardware.h
yalnix.h
*.template
*.o
.vscode
yalnix
core*
TTYLOG*
TRACE
DISK
ignore
idle
init
init1*
init2*
init3*
brktest*
delaytest*
forktest*
Makefile
exectest*
forkwait*
trapmemory*
bigstack*
blowstack*
console*
brktest*
shell*
tty*
trapillegal*
trapmath*